@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<h3>He's Funny</h3>
<p><a href="https://www.qwcomedy.com/" target="_blank">QW Comedy</a></p>

<h3>He Loves Bacon</h3>
<div>
    <p><a href="https://baconsale.com/" target="_blank">Baconsale</a></p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="../img/BaconsaleKate.jpg" alt="Baconsale w/ Kate" style="width: 40%"/>
    </a>
</div>